body {
  margin: 0;
  font-family: Arial, "Microsoft Yahei", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  text-align: left;
}

dt {
  font-weight: 700;
}

a {
  color: #0078e7;
  text-decoration: none;
}

a:hover {
  color: #00509b;
  text-decoration: underline;
}

img {
  border: 0;
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
}

.table {
  width: 100%;
  border-bottom: solid 1px #e6e6e6;
}

.table th, .table td {
  padding: 0.75em;
  border-bottom: solid 1px #e6e6e6;
}

.table th:first-child, .table td:first-child {
  padding-left: 0;
}

.table thead th {
  border-bottom-color: #cdcdcd;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  text-align: inherit;
  font-weight: normal;
}

.table-bordered {
  border: solid 1px #e6e6e6;
}

.table-bordered th, .table-bordered td {
  border: solid 1px #e6e6e6;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th {
  border: 0;
}

.table .thead-dark th {
  border-color: #3c3c3c;
  color: #fff;
  background-color: #222;
}

.table .thead-light th {
  border-color: #f3f3f3;
  color: #333;
  background-color: #e6e6e6;
}

.btn {
  display: inline-block;
  border: solid 1px transparent;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-align: center;
  vertical-align: middle;
  color: #666;
  background-color: #e6e6e6;
}

.btn:hover, .btn:focus {
  color: #333;
  background-color: #d7d7d7;
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: 0;
}

.btn:active, .btn.active {
  color: #333;
  background-color: #cdcdcd;
}

.btn[disabled], .btn.disabled {
  color: #666;
  background-color: #e6e6e6;
  opacity: 0.6;
  cursor: default;
}

.btn-primary {
  border-color: #0078e7;
  color: #fff;
  background-color: #0078e7;
}

.btn-primary:hover, .btn-primary:focus {
  border-color: #0068c8;
  color: #fff;
  background-color: #0068c8;
}

.btn-primary:hover {
  text-decoration: none;
}

.btn-primary:focus {
  outline: 0;
}

.btn-primary:active, .btn-primary.active {
  border-color: #005eb4;
  color: #fff;
  background-color: #005eb4;
}

.btn-primary[disabled], .btn-primary.disabled {
  border-color: #0078e7;
  color: #fff;
  background-color: #0078e7;
  opacity: 0.5;
  cursor: default;
}

.btn-outline-primary {
  border-color: #0078e7;
  color: #0078e7;
  background-color: #fff;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
  border-color: #0078e7;
  color: #fff;
  background-color: #0078e7;
}

.btn-outline-primary:hover {
  text-decoration: none;
}

.btn-outline-primary:focus {
  outline: 0;
}

.btn-outline-primary:active, .btn-outline-primary.active {
  border-color: #0068c8;
  color: #fff;
  background-color: #0068c8;
}

.btn-outline-primary[disabled], .btn-outline-primary.disabled {
  border-color: #0078e7;
  color: #0078e7;
  background-color: #fff;
  opacity: 0.5;
  cursor: default;
}

.btn-success {
  border-color: #28a745;
  color: #fff;
  background-color: #28a745;
}

.btn-success:hover, .btn-success:focus {
  border-color: #228e3b;
  color: #fff;
  background-color: #228e3b;
}

.btn-success:hover {
  text-decoration: none;
}

.btn-success:focus {
  outline: 0;
}

.btn-success:active, .btn-success.active {
  border-color: #1e7e34;
  color: #fff;
  background-color: #1e7e34;
}

.btn-success[disabled], .btn-success.disabled {
  border-color: #28a745;
  color: #fff;
  background-color: #28a745;
  opacity: 0.5;
  cursor: default;
}

.btn-outline-success {
  border-color: #28a745;
  color: #28a745;
  background-color: #fff;
}

.btn-outline-success:hover, .btn-outline-success:focus {
  border-color: #28a745;
  color: #fff;
  background-color: #28a745;
}

.btn-outline-success:hover {
  text-decoration: none;
}

.btn-outline-success:focus {
  outline: 0;
}

.btn-outline-success:active, .btn-outline-success.active {
  border-color: #228e3b;
  color: #fff;
  background-color: #228e3b;
}

.btn-outline-success[disabled], .btn-outline-success.disabled {
  border-color: #28a745;
  color: #28a745;
  background-color: #fff;
  opacity: 0.5;
  cursor: default;
}

.btn-error {
  border-color: #ca3c3c;
  color: #fff;
  background-color: #ca3c3c;
}

.btn-error:hover, .btn-error:focus {
  border-color: #b63131;
  color: #fff;
  background-color: #b63131;
}

.btn-error:hover {
  text-decoration: none;
}

.btn-error:focus {
  outline: 0;
}

.btn-error:active, .btn-error.active {
  border-color: #a62d2d;
  color: #fff;
  background-color: #a62d2d;
}

.btn-error[disabled], .btn-error.disabled {
  border-color: #ca3c3c;
  color: #fff;
  background-color: #ca3c3c;
  opacity: 0.5;
  cursor: default;
}

.btn-outline-error {
  border-color: #ca3c3c;
  color: #ca3c3c;
  background-color: #fff;
}

.btn-outline-error:hover, .btn-outline-error:focus {
  border-color: #ca3c3c;
  color: #fff;
  background-color: #ca3c3c;
}

.btn-outline-error:hover {
  text-decoration: none;
}

.btn-outline-error:focus {
  outline: 0;
}

.btn-outline-error:active, .btn-outline-error.active {
  border-color: #b63131;
  color: #fff;
  background-color: #b63131;
}

.btn-outline-error[disabled], .btn-outline-error.disabled {
  border-color: #ca3c3c;
  color: #ca3c3c;
  background-color: #fff;
  opacity: 0.5;
  cursor: default;
}

.btn-sm {
  padding: 0.25em 0.5em;
  font-size: 12px;
  border-radius: 0.2em;
}

.btn-lg {
  padding: 0.5em 1em;
  font-size: 16px;
  border-radius: 0.3em;
}

.btn-block {
  display: block;
  width: 100%;
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

.anchor-link {
  color: #333;
}

.anchor-link:hover {
  text-decoration: none;
}

.breadcrumb:after {
  display: block;
  clear: both;
  content: '';
}

.breadcrumb li {
  float: left;
}

.breadcrumb li + li {
  padding-left: 0.5em;
}

.breadcrumb li + li:before {
  padding-right: 0.5em;
  content: "/";
  color: #666;
}

.breadcrumb li a {
  display: inline-block;
}

.breadcrumb li.active {
  color: #666;
}

.breadcrumb-lg {
  font-size: 16px;
}

.pagination:after {
  display: block;
  clear: both;
  content: '';
}

.pagination li {
  float: left;
}

.pagination li a,
.pagination li em,
.pagination li span {
  position: relative;
  display: block;
  margin-left: -1px;
  border: solid 1px #ddd;
  padding: 0.5em 1em;
}

.pagination li a:hover {
  text-decoration: none;
  background-color: #e6e6e6;
}

.pagination li a:focus {
  outline: 0;
}

.pagination li:first-child a,
.pagination li:first-child span {
  margin-left: 0;
}

.pagination li.active em {
  z-index: 1;
  font: inherit;
  color: #fff;
  background-color: #0078e7;
  border-color: #0078e7;
}

.pagination li.disabled span, .pagination li.gap span {
  color: #c4c4c4;
  cursor: default;
}

.tabs {
  border-bottom: solid 1px #e6e6e6;
}

.tabs:after {
  display: block;
  clear: both;
  content: '';
}

.tabs li {
  float: left;
  margin-bottom: -1px;
}

.tabs li a {
  display: block;
  border-bottom: solid 1px #e6e6e6;
  padding: 0.5em 1em;
  color: #666;
}

.tabs li a:hover {
  color: #333;
  text-decoration: none;
}

.tabs li.active a {
  color: #0078e7;
  border-bottom: solid 1px #0078e7;
}

.tabs li.disabled a {
  color: #c4c4c4;
  cursor: default;
}
