@charset "utf-8";


a:link:hover,a:visited:hover{
    background-color:rgba(75%, 75%, 75%, .25);
}
a:link:active,a:visited:active{
    color:red;
}
a:visited,a:link{color:#023E9A;}
h1,h2,h3{
    color:#023E9A;
    font-weight:normal;
}


ol{
    padding-left:2em;
}
.table{
    width:100%;
    border-spacing:0;
}
.table th{
    text-align:left;
}
.table>thead>tr>th,.table>tbody>tr>td{
    padding:0.5em;
}
dt{
    font-weight:bold;
}


