<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>浮动元素和normal flow中的元素重叠</h2>
<p>
    浮动元素和normal flow中的内容发送重叠时,会出现什么现象呢?浮动元素和normal flow中的内容发送重叠时,会出现什么现象呢?<br/>
    浮动元素和normal flow中的内容发送重叠时,<img style="float:left;margin-left:10px;margin-right:-30px;" src="../image/6.jpg" alt="6">会出现什么现象呢?浮动元素和normal flow中的内容发送重叠时,会出现什么现象呢?<br/>
    <strong style="border:1px solid #f10215;background-color:#ff9000;">浮动元素和normal flow</strong>中的内容发送重叠时,会出现什么现象呢?浮动元素和normal flow中的内容发送重叠时,会出现什么现象呢?<br/>
</p>
<p style="border:1px solid #f10215;background-color:#8ABB55;">浮动元素和normal flow中的内容发送重叠时,会出现什么现象呢?</p>
</body>
</html>