<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .f-cb:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
        .sepline{height:30px;border-bottom:5px dashed #000;margin-bottom:30px;}
        .container{width:35%;border:1px solid #ccc;margin:0 auto;}
        .hd,.ft{padding:10px;background-color:#666;color:#fff;}
    </style>
</head>
<body>
<h2>浮动元素摆放规则2:浮动元素的左外边界必须是文档中之前出现的左浮动元素的右外边界,除非后出现的浮动元素的顶端在先出现的浮动元素的底端下面</h2>
<h3>这条规则可以防止浮动元素发生重叠.如果一个元素发生浮动,而另一个浮动元素已经在那个位置,后放置的元素将挨着前一个浮动元素的右外边界放置</h3>
<div class="container">
    <div class="hd">
        <p>header</p>
    </div>
    <div class="bd f-cb">
        <p>浮动元素摆放规则2:浮动元素的左外边界必须<a style="float:left;width:100px;height:100px;border:1px solid #ccc;" href="http://www.baidu.com">baidu</a>是文档中之前出现的左浮动元素的右外边界浮动元素摆放规则2:浮动元素的左外边界必须<a style="float:left;width:100px;height:100px;border:1px solid #ccc;" href="http://www.baidu.com">baidu</a>是文档中之前出现的左浮动元素的右外边界浮动元素摆放规则2:浮动元素的左外边界必须是文档中之前出现的左浮动元素的右外边界浮动元素摆放规则2:浮动元素的左外边界必须是文档中之前出现的左浮动元素的右外边界</p>
        <p>浮动元素摆放规则2:浮动元素的左外边界<a style="float:left;width:100px;height:100px;border:1px solid #ccc;" href="http://www.baidu.com">baidu</a>必须是文档中之前出现的左浮动元素的右外边界</p>
    </div>
    <div class="ft">
        <p>footer</p>
    </div>
</div>
</body>
</html>