<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .f-cb:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
        .sepline{height:30px;border-bottom:5px dashed #000;margin-bottom:30px;}
        .container{width:35%;border:1px solid #ccc;margin:0 auto;}
        .hd,.ft{padding:10px;background-color:#666;color:#fff;}
    </style>
</head>
<body>
<h2>浮动元素摆放规则6:如果文档中浮动元素之前出现另一个元素,浮动元素的顶端不能比包含该元素所生成框的任何行框的顶端更高</h2>
<div class="container">
    <div class="hd">
        <p>header</p>
    </div>
    <div class="bd">
         <p>如果文档中浮动元素之前出现另一个元素,浮动元素的顶端不能比包含该元素所生成框的任何行框的顶端更高<br>如果文档中浮动元素之前出现另一个元素,浮动元素的顶端不能<img style="float:left;" src="../image/1.png" alt="1">比包含该元素所生成框的任何行框的顶端更高</p>
    </div>
    <div class="ft">
        <p>footer</p>
    </div>
</div>
</body>
</html>