@charset "utf-8";
html{
    margin-bottom:30em;
}
body{
    margin:0 auto;
    width:960px;
    padding:2em 1em 2em 3em;
    font-family:"Microsoft YaHei";
    font-size:16px;
    line-height:1.5;
    color:#000;
    background-color:#fff;
    counter-reset:examplenum
}
.navbar{text-align:center;}
a:link:hover,a:visited:hover{
    background-color:rgba(75%, 75%, 75%, .25);
}
a:link:active,a:visited:active{
    color:red;
}
a:visited,a:link{color:#105cb6;}
h1,h2,h3{
    color:#105cb6;
    font-weight:normal;
}
h1{
    font-size:170%;
}
h2{
    font-size:140%;
}
h3{
    font-size:120%;
}
.table-of-content{
    padding-left:1em;
    list-style:none;
}
ol{
    padding-left:2em;
}
.table{
    width:100%;
    border-spacing:0;
}
.table th{
    text-align:left;
}
.table>thead>tr>th,.table>tbody>tr>td{
    padding:0.5em;
}
dt{
    font-weight:bold;
}
.example{
    margin:1em auto;
    padding:0.5em;
    border-left:solid 0.5em #E0CB52;
    background-color:#FCFAEE;
    counter-increment:examplenum;
}
.example:before{
    content:'example ' counter(examplenum);
    color:#DAA520;
}
pre{
    margin:1em 0;
    font-family:Menlo, Consolas, "DejaVu Sans Mono", Monaco, monospace;
    font-size:0.9em;
    line-height:1.5;
}
.note{
    margin:1em auto;
    padding:0.5em;
    border-left:solid 0.5em #52E052;
    background-color:#E9FBE9;
}
span.note{
    padding:0.1em 0.5em;
    border-left-style:none;
    color:#FFF;
    background-color:#000;
}
.prop-definition{
    margin:1em auto;
    padding:0.5em;
    border-left:solid 0.5em #8CCBF2;
}
.prop-name{
    display:inline-block;
    padding:0.5em 0;
    font-style:italic;
    line-height:1.5;
}
.prop-content{
    margin-left:1em;
    border-top:solid 1px #ddd;
}
dfn{font-weight:bold;}
.demo{
    margin:1em auto;
    padding:0.5em;
    border-left:solid 0.5em #3d7e9a;
}