<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .f-cb:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
        .sepline{height:30px;border-bottom:5px dashed #000;margin-bottom:30px;}
        .container{width:35%;border:1px solid #ccc;margin:0 auto;}
        .hd,.ft{padding:10px;background-color:#666;color:#fff;}
    </style>
</head>
<body>
<h2>浮动元素摆放规则3:左浮动元素的右外边界不会在其右边右浮动元素的左外边界的右边</h2>
<h3>这条规则可以防止浮动元素发生重叠,实际上,如果2个浮动元素有重叠的可能时,此规则会要求后面的浮动元素向下浮动</h3>
<div class="container">
    <div class="hd">
        <p>header</p>
    </div>
    <div class="bd f-cb">
       <p style="float:left;width:200px;height:200px;border:1px solid #ccc;">left-200</p>
        <p style="float:right;width:200px;height:200px;border:1px solid #ccc;">right-200</p>
        <div class="sepline"></div>
        <p style="float:left;width:200px;height:200px;border:1px solid #ccc;">left-200</p>
        <p style="float:right;width:500px;height:200px;border:1px solid #ccc;">right-500</p>
    </div>
    <div class="ft">
        <p>footer</p>
    </div>
</div>
</body>
</html>