<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .f-cb:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
        .sepline{height:30px;border-bottom:5px dashed #000;margin-bottom:30px;}
        .container{width:35%;border:1px solid #ccc;margin:0 auto;}
        .hd,.ft{padding:10px;background-color:#666;color:#fff;}
    </style>
</head>
<body>
<h2>浮动元素特性4:浮动元素会生成一个块级框,而不论这个元素本身是什么,即浮动元素的display为block</h2>
<div class="container">
    <div class="hd">
        <p>header</p>
    </div>
    <div class="bd f-cb">
        <span style="width:300px;background-color:#8ABB55;">行内元素,设置width无效</span>
        <div class="sepline"></div>
        <span style="float:left;width:300px;background-color:#8ABB55;">行内元素,设置width有效</span>
    </div>
    <div class="ft">
        <p>footer</p>
    </div>
</div>
</body>
</html>