<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .f-cb:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
        .sepline{height:30px;border-bottom:5px dashed #000;margin-bottom:30px;}
        .container{width:35%;border:1px solid #ccc;margin:0 auto;}
        .hd,.ft{padding:10px;background-color:#666;color:#fff;}
    </style>
</head>
<body>
<h2>浮动元素特性2:浮动元素周围的外边距不会合并</h2>
 <div class="container">
     <div class="hd">
         <p>header</p>
     </div>
     <div class="bd f-cb">
         <p style="border:1px solid #000;">垂直方向上的margin会进行合并</p>
         <p style="border:1px solid #000;">垂直方向上的margin会进行合并</p>
         <div class="sepline"></div>
         <p style="border:1px solid #000;">垂直方向上的margin会进行合并</p>
         <p style="float: left;border:1px solid #000;">垂直方向上的margin会进行合并</p>
     </div>
     <div class="ft">
         <p>footer</p>
     </div>
 </div>
</body>
</html>