<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .f-cb:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
        .sepline{height:30px;border-bottom:5px dashed #000;margin-bottom:30px;}
        .container{width:35%;border:1px solid #ccc;margin:0 auto;}
        .hd,.ft{padding:10px;background-color:#666;color:#fff;}
    </style>
</head>
<body>
<h2>浮动元素摆放规则1:左浮动元素的左外边界不能超过其包含块的左内边界</h2>
<div class="container">
    <div class="hd">
        <p>header</p>
    </div>
    <div class="bd f-cb">
         <p style="width:200px;height:200px;padding:20px;border:1px solid #ccc;">
             <a href="http://www.baidu.com" style="float:left;width:100px;height:100px;padding:10px;margin:10px;background-color:#8ABB55;">baidu</a>
         </p>
    </div>
    <div class="ft">
        <p>footer</p>
    </div>
</div>
</body>
</html>