@charset "utf-8";
/*适用于任意项目*/
/*reset*/
body,ul,ol{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;}
/*utilities*/
.clearfix:after,
.nav:after{
    content:"";
    display:block;
    clear:both;
}
.float-left{float:left;}
.float-right{float:right;}
/*components*/
.nav-item{float:left;}
.nav-link{
    display:inline-block;
    padding:.5rem 1rem;
}

/*global--适用于当前项目*/
body{
    font-family:'Helvetica Neue',Helvetica,tahoma,'microsoft yahei',Arial,sans-serif;
    font-size:12px;
    color:#888;
}
#top-nav .divider{
    display:inline-block;
    padding-top:.5rem;
}
